.box{
  margin-top: 65px;
  margin-left: 400px;
  border-radius: 20px;
  border: 5px solid white;
  width: 40%;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction:column;
  justify-content: center

}
body{
  background-color: black;
  color: aliceblue;
}
p{
  font-size: 40px;
  color: aliceblue;
  align-content: center;
  justify-content: center;
}
hr{
  width: 100%;
  list-style: bold;
}
button{
  background-color: white;
  border-radius: 18px;
  height: 40px;
  width: 30%;
  margin-bottom: 5%;
}