*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: #1e1e1e; */
  height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;  
}
header{
  color: black;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}
header h1{
    height: 100%;
    width:100%;
    align-content: center;
    justify-items: left;
    /* text-align: center; */
    font: 40px Arial, Helvetica, sans-serif;
}
section{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input{
  height: 100%;
  padding: 1%;
  width:60%;
  border-radius: 24px;
  border-color: darkgray;
  border-style:outset;
}
.ADD{
  background-color: rgb(243, 198, 140,0.8);
  padding: 1%;
  margin-left: 5px;
  border-radius: 24px;
  border: none;
  height: 100%;
  font-size: 18px;
  width: 120px;
}
.ADD:hover{
  background-color: rgba(255, 213, 158, 0.8);
  cursor: pointer;
}

ul{
  margin-top: 10%;
  height: 100%;
  width: 75%;
  background-color: white;
  color:black;
  padding: 2%;
  margin-left: 15%;
  border-radius: 14px;
  border: none;
  /* align-items: center;
  justify-content: center; */
}


li{
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border-bottom: 1px solid #000000;
  list-style: none;
  background-color: rgb(243, 198, 140,0.8);  border-radius: 24px;
  margin-bottom: 10px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif
}
li:hover{
  background-color: rgba(255, 213, 158, 0.8);
}
li p{
  padding-left: 10px;
  padding-top: 5px;
}

li button{
  background-color: white;  border: none;
  color: black;
  border-radius: 24px;
  padding: 0.5%;
  width: 40px;
  height: 30px;
}
.total{
  background-color: rgb(243, 198, 140,0.8);  border: none;
  border-radius: 24px;
  padding: 0.5%;
  width: 150px;
  margin-top: 1%;
  margin: auto;
}
.total:hover{
  background-color: rgba(255, 213, 158, 0.8);
  cursor: pointer;
}
h3{
  color: black;
  text-align: center;
  margin-top: 20px;
}